html, body {
    background: url(../images/test1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'SnellRegular';
}

@font-face {
    font-family: 'SnellRegular';
    src: url("../fonts/SnellBT-Regular.otf")
}

#header-container {
    display: flex;
    justify-content: center;
}

.nav {
    color: white;
    font-size: 48px;
    margin: 0px 70px;
}

.nav:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#title, #sub-title {
    font-size: 150px;
    color: white;
    text-align: center;
    padding-top: 10%;
}

#sub-title {
    font-size: 40px;
    padding: 0;
}