html, body {
    background: url(../images/test2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'SnellRegular';
    color: white;
    text-align: center;
}

@font-face {
    font-family: 'SnellRegular';
    src: url("../fonts/SnellBT-Regular.otf")
}

#header-container {
    display: flex;
    justify-content: center;
}

.nav {
    font-size: 48px;
    margin: 0px 70px;
}

.nav:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#title, #sub-title {
    font-size: 150px;
    padding-top: 10%;
}

#sub-title {
    font-size: 40px;
    padding: 0;
}

h1 {
    font-weight: lighter;
    font-size: 60px;
    margin-bottom: 10px;
}

.sub-item {
    font-size: 30px;
    margin: 20px;
}

.address {
    font-size: 60px;
}

#address1 {
    margin-top: 250px;
}